<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h>JOHN LENNON</h>
<P>Lets party rocks</P>
<a href="https://www.w3schools.com/"> this is a link</a>
<ul>
    <li>jim</li>
    <li>lennon</li>
    <li>redfoo</li>
</ul>
<ol>
    <li>pinkfloyd</li>
    <li>zombiee</li>
    <li>connection</li>
</ol>
<table border="7p">
    <tr>
        <th>rolling stone</th>
        <th>acdc</th>
        <th>blacksabbath</th>
    </tr>
    <tr>
        <td>ozzyosburne</td>
        <td>bradwilk</td>
        <td>jimnorton</td>
    </tr>
    <tr>
        <td>rosshalfin</td>
        <td>reignwolf</td>
        <td>sabotage</td>
    </tr>
<img src="wp2707321-kurt-cobain-hd-wallpaper.jpg" alt="Trulli" width="500" height="333">
</table>
</body>
</html>